################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FinalProject_MVCapp_SERAFIN/v16/Server/sqlite3
